body {
  line-height: unset !important;
  overflow-x: hidden;
  overflow-x: unset;
}

/* ********* Scrollbar CSS ********* */
/* Firefox */
.task-card-scroll {
  scrollbar-width: auto;
  scrollbar-color: #2a3647 #f6f7f8;
}

/* Chrome, Edge, and Safari */
.task-card-scroll::-webkit-scrollbar {
  width: 10px;
}

.task-card-scroll::-webkit-scrollbar-track {
  background: #f6f7f8;
}

.task-card-scroll::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.column-container {
  display: flex; /* Verwende Flexbox-Layout */
  flex-direction: row; /* Spalten nebeneinander */
  justify-content: space-between; /* Abstand zwischen Spalten */
}

.column-left,
.column-right {
  flex-basis: 40%; /* Breite der Spalten */
  display: flex;
  flex-direction: column;
}

/* Füge Abstand zwischen den Inhalten hinzu */
.column-left > * + *,
.column-right > * + * {
  margin-top: 10px;
}

.task-card {
  display: block; /* Zurücksetzen auf Block-Display */
  width: 80%; /* Breite der Karte */
  grid-column: 3/11;
  grid-row: 2/11;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
}

.headline-text {
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 20px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.border {
  border-right: 2px solid #d1d1d1;
  margin-left: 30px;
  margin-right: 30px;
}

#description {
  resize: vertical;
  max-height: 200px;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 21px;
  gap: 10px;
  isolation: isolate;

  height: 119px;

  background: #ffffff;
  /* Style */

  border: 1px solid #d1d1d1;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

#title {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 10px;

  height: 51px;

  background: #ffffff;
  /* Style */

  border: 1px solid #d1d1d1;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.prio {
  display: flex;
  gap: 17px;
  padding: 10px;
}

.prio div {
  width: 33%;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--dimmed);
  font-size: 0.8rem;
  border-radius: 7px;
  background: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.prio div:hover {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 20%);
}

.prio div > img {
  margin-left: 7px;
}

.newCategory {
  border: none;
  background-color: white;
}

#datePicker {
  box-sizing: border-box;
  font-size: 21px;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 21px;
  gap: 10px;
  isolation: isolate;

  height: 51px;

  background: #ffffff;
  /* Style */

  border: 1px solid #d1d1d1;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  margin-left: 250px;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  color: #d1d1d1;
}

input[type="date"] {
  color: #d1d1d1;
}

::placeholder {
  font-size: 21px;
  color: #d1d1d1;
}

/* Entferne Placeholder-Text, wenn Textfeld fokussiert ist */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

input {
  outline: none;
  font-size: 21px;
}

textarea {
  outline: none;
  font-size: 21px;
}

.btn {
  width: 100%;
}

.btn-secondary {
  --bs-btn-bg: #ffffff !important;
  --bs-btn-color: rgb(0, 0, 0) !important;
  --bs-btn-hover-bg: #ffffff !important;
  --bs-btn-hover-color: rgb(0, 0, 0) !important;
  --bs-btn-active-bg: #ffffff !important;
  --bs-btn-active-color: rgb(0, 0, 0) !important;
  --bs-btn-border-color: #d1d1d1 !important;
  --bs-btn-hover-border-color: #d1d1d1 !important;
  --bs-btn-active-border-color: #d1d1d1 !important;
}

.dropdown-menu {
  width: 100%;
}

.subCon {
  margin-top: 21px;
  font-size: large;
}

.subtask-container {
  box-sizing: border-box;
  margin-top: 12px !important;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 10px;

  height: 51px;

  background: #ffffff;
  /* Style */

  border: 1px solid #d1d1d1;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

#subtask-input-content {
  border: none;
  width: 100%;
}

#subtaskOninput img {
  height: 25px;
  cursor: pointer;
}

.border-subtask {
  border-right: 2px solid #d1d1d1;
  margin-left: 10px;
  margin-right: 10px;
}

label {
  font-size: 21px;
  margin-top: 18px !important;
}

.action-button-container {
  display: flex;
  justify-content: end;
  margin-top: 130px;
}

.action-button-container img {
  cursor: pointer;
}

.taskAdded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.add-task-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 15px;
  gap: 10px;
  border: 0;
  color: white;
  right: 60px;
  background: #2a3647;
  border-radius: 10px;
  width: 197.77px;
}

.form-control::placeholder {
  font-size: 16px;
}

#colorPicker {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 8px;
}

.color-option {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid white;
}

.selected {
  border: 2px solid black;
}

.dropdown-content {
  display: none;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content.show {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #d1d1d1;
  border-top: unset;
  overflow: auto;
  max-height: 200px;
}

/* Flexbox-Stil für den Namen und die Checkbox */
.dropdown-object {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding-left: 10px;
}

.dropdown-object:hover {
  background-color: #d1d1d1;
}

.dropdown-object input {
  margin-right: 10px;
}

.category-input {
  width: 70%;
  border: unset;
}

.dropdown-min {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #d1d1d1;
  font-size: 1rem;
}

.dropdown-min img {
  width: 20px;
  height: 20px;
}

.dropdown-min.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: unset;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  width: 100%;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.vert-border {
  display: flex;
  border: 1px solid #d1d1d1;
  width: 1px;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
}

.height-100 {
  height: 100%;
}

.select-color-category {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-evenly;
}

.select-color-category div {
  width: 18px;
  height: 18px;
  border: 1px solid white;
  border-radius: 100%;
}

.select-color-category div:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.selected-color {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.category-color {
  width: 18px;
  height: 18px;
  border: 1px solid white;
  border-radius: 100%;
}

.margin-left-10 {
  margin-left: 10px;
}

/* @media screen and (max-width: 1445px) {
    #clearTask {
      margin-right: 190px;
    }
  } */

.column-right {
  width: 400px !important;
}

.border {
  border-right: 2px solid #d1d1d1 !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.column-container {
  flex-direction: column !important;
}

.column-right {
  width: 100% !important;
}

.add-task-btn {
  position: unset !important;
  margin-right: 30px !important;
  font-size: larger;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 380px !important;
}

.column-right {
  margin-top: 18px !important;
}

.task-card {
  width: 70% !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 330px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 290px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 250px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 200px !important;
}

.task-card {
  width: 65% !important;
}

.task-card {
  grid-column: 1/11 !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 95% !important;
  margin-bottom: 150px !important;
}

#clearTask {
  margin-right: 70px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 470px !important;
}

.action-button-container {
  margin-top: 21px !important;
}

.prio {
  gap: 10px !important;
  padding: 0 !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 440px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 380px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 300px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 250px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 200px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 150px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px !important;
  height: 20px !important;
  margin-left: 100px !important;
}

@media (max-height: 850px) {
  #clearTask {
    margin-right: 10px;
  }

  .prio div {
    width: 200px;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .subtask-container {
    width: 95%;
  }
}
