* {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#board-link {
  /* styles for board link */
  background-color: #091931;
}

.active {
  filter: contrast(0.5);
}

.board-main-container {
  grid-column: 3/11;
  grid-row: 2/11;
  /*margin-left: 100px;*/
  /*margin-right: 100px;*/
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  margin-bottom: 50px;
}

.headline-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 24px;
  margin-bottom: 60px;
}

.headline-text {
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  text-align: center;
}

.headline-text-mobile {
  width: 90%;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
}

.headline-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-between;
  width: 100%;
}

.board-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  gap: 20px;
}

.board-content-element {
  display: flex;
  flex-direction: column;
  width: calc(20% + 38px);
  gap: 30px;
}

.task-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.task-type span {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
}

.task-type svg:hover {
  cursor: pointer;
}

.svg:hover path {
  stroke: #29abe2;
}

.svg:hover rect {
  stroke: #29abe2;
}

.inputTask {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 10px;

  height: 51px;
  width: 251px;

  background: #ffffff;
  /* Style */

  border: 1px solid #d1d1d1;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.board-headline-right {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.add-task-btn-board {
  /* Secondary plus v1 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;
  margin-left: 30px;

  width: 157px;
  height: 51px;

  background: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.add-task-btn-board button {
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 21px;
  background-color: unset;
  border: none;
}

.add-task-btn-board-mobile {
  /* Secondary plus v1 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;

  background: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
}

.add-task-btn-board-mobile button {
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 21px;
  background-color: unset;
  border: none;
}

.border-subtask {
  border-right: 2px solid #d1d1d1;
  margin-left: 10px;
  margin-right: 10px;
}

.subtask-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 10px;
  height: 51px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.drop-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 60px;
  border: 3px dotted transparent;
  min-height: 30vh;
}

.drop-area.dragover{
  background-color: rgba(0, 0, 0, 0.04);
}

.add-border {
  border: 3px dotted #d1d1d1;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.04);
}

.dropdown-position {
  display: none;
}

.dropdown-style {
  border-radius: 4px;
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  padding: 8px 16px;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 172px;
}

.dropdown-style:hover {
  border-color: #aaaaaa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-style:focus {
  outline: none;
  border-color: #999999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-style option {
  background-color: #ffffff;
  color: #333333;
}

/* ********* Scrollbar CSS ********* */

.scroll {
  height: 460px;
  overflow: auto;
}

/* Firefox */
.inner-content {
  scrollbar-width: auto;
  scrollbar-color: #2a3647 #f6f7f8;
  overflow-x: hidden;
}

/* Chrome, Edge, and Safari */
.inner-content::-webkit-scrollbar {
  width: 10px;
}

.inner-content::-webkit-scrollbar-track {
  background: #f6f7f8;
}

.inner-content::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

/* Firefox */
.inner-content2 {
  overflow: auto;
  height: 440px;
  gap: 20px;
  display: grid;
  align-items: start;
  scrollbar-width: auto;
  scrollbar-color: #2a3647 #f6f7f8;
}

/* Chrome, Edge, and Safari */
.inner-content2::-webkit-scrollbar {
  width: 10px;
}

.inner-content2::-webkit-scrollbar-track {
  background-color: #f6f7f8;
}

.inner-content2::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.subtask-container input {
  border: none;
  width: 100%;
  outline: none;
}

.dragarea-highlight {
  background-color: rgba(0, 0, 0, 0.2);
}

.prio-btn-low {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  align-items: center;
  border-radius: 10px;
  background-color: #7ae229;
  color: white;
  width: 25%;
}

.prio-btn-medium {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  align-items: center;
  border-radius: 10px;
  background-color: #ffa800;
  color: white;
  width: 25%;
}

.prio-btn-urgent {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  align-items: center;
  border-radius: 10px;
  background-color: #ff3d00;
  color: white;
  width: 25%;
}

.align-center {
  align-items: center;
}

.gap-15 {
  gap: 15px;
}

.subtasks-status {
  width: 75%;
  background-color: #29abe2;
  border-radius: 10px;
  color: white;
  height: 10px;
}

.subtasks-border {
  width: 80%;
  background-color: lightgray;
  border-radius: 10px;
}

/* ********* Scrollbar CSS ********* */
/* Firefox */
.inner-content {
  scrollbar-width: auto;
  scrollbar-color: #2a3647 #f6f7f8;
}

/* Chrome, Edge, and Safari */
.inner-content::-webkit-scrollbar {
  width: 10px;
}

.inner-content::-webkit-scrollbar-track {
  background: #f6f7f8;
}

.inner-content::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

/* Firefox */
.task-card-description {
  scrollbar-width: auto;
  scrollbar-color: #2a3647 #f6f7f8;
}

/* Chrome, Edge, and Safari */
.task-card-description::-webkit-scrollbar {
  width: 10px;
}

.task-card-description::-webkit-scrollbar-track {
  background: #f6f7f8;
}

.task-card-description::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

/*Board-Card Design*/

.board-task-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18px 19px;
  margin-bottom: 20px;
  width: 15vw;
  height: 23vh;
  /* white */

  background: #ffffff;
  /* shadoe backlog box */

  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.board-task-card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Firefox */
.board-task-card {
  overflow: auto;
  scrollbar-width: auto;
  scrollbar-color: #2a3647 #f6f7f8;
}

/* Chrome, Edge, and Safari */
.board-task-card::-webkit-scrollbar {
  width: 10px;
}

.board-task-card::-webkit-scrollbar-track {
  background-color: #f6f7f8;
}

.board-task-card::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.task-card-category {
  background: red;
  border-radius: 30px;
  min-width: 87px;
  margin-bottom: 10px;
  padding: 5px;
  justify-content: center;
  display: flex;
  color: white;
}

.task-card-title {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
  color: #2a3647;
}

.task-card-description {
  display: flex;
  height: 90px;
  font-size: 14px;
  margin-bottom: 15px;
  overflow: auto;
}

.task-card-bottom-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #0190e0;
  border: 1px solid #ffffff;
  border-radius: 58px;
  margin: 0px -2px;
  font-size: 13px;
  color: white;
}

.avatar-Box {
  display: flex;
  justify-content: start;
  align-items: center;
}

.task-card-prio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none !important;
  opacity: 0;
  transition: opacity 0.5s;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.width-100 {
  width: 100%;
}

.justify-space-between {
  justify-content: space-between;
  align-items: center;
}

.subtasks-row {
  align-items: center;
  display: flex;
  gap: 15px;
}

.rotate {
  transform: rotateZ(10deg);
}

.subtask-container {
  margin: unset !important;
}

#subtasksCounter {
  font-size: 12px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.task-card-top-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* ********* Breakpoints ********* */

@media only screen and (max-width: 1777px) {
  .drop-area {
    align-items: flex-start;
  }
  .board-task-card {
    width: 12vw;
  }
}

@media only screen and (max-width: 1555px) {
  .board-task-card {
    width: 15vw;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1400px) {
  .drop-area {
    align-items: center;
  }

  .board-task-card {
    width: 58vw;
  }

  .board-content {
    flex-direction: column;
    align-items: center;
  }

  .board-content-element {
    width: calc(90% - 26px);
  }

  .board-main-container {
    margin-left: 30px;
    margin-right: 30px;
  }

  .headline-text {
    font-size: 48px;
  }
}

@media only screen and (max-width: 950px) {
  .board-content {
    width: 100%;
  }

  .board-main-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .headline-text {
    font-size: 52px;
  }

  .headline-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .board-headline-right {
    width: 100%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 756px) {
  .board-main-container {
    grid-column: 1/11;
  }

  .board-task-card {
    width: 78vw;
  }

  .inner-content {
    margin-bottom: 150px;
  }

  .headline-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .board-content {
    flex-direction: column;
    align-items: center;
  }

  .board-content-element {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 555px) {
  #add-task-btn-board {
    display: none;
  }

  #add-task-btn-board-mobile {
    display: flex;
  }
}

@media only screen and (min-width: 556px) {
  #add-task-btn-board {
    display: flex;
  }

  #add-task-btn-board-mobile {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #headline-mobile {
    display: flex;
  }

  .dropdown-position {
    display: flex;
  }
}

@media only screen and (min-width: 501px) {
  #headline-mobile {
    display: none;
  }
}
