.overlay-bg {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: 999999;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Task-Content {
  height: 700px;
  border-radius: 30px;
  width: 500px;
  background-color: white;
}

.Task-Bottom-Content {
  position: fixed;
  margin-left: 350px;
  margin-top: 8px;
}

.Task-Bottom-Content svg {
  cursor: pointer;
}

.trash-popUp {
  border-top: 2px solid;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: #2a3647;
  border-radius: 8px;
  border-top-right-radius: 0; /* Setze den Wert auf 0 oder einen anderen gewünschten Wert */
  border-bottom-right-radius: 0; /* Setze den Wert auf 0 oder einen anderen gewünschten Wert */
}

.task-popup-bottom-trash-edit-line {
  position: absolute;
  margin-left: 44px;
  margin-top: -54px;
  border-top: 2px solid #2a3647;
  height: 46px;
  width: 15px;
  border-bottom: 2px solid #2a3647;
  background-color: rgba(255, 255, 255, 0);
}

.Task-Content-Top {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  gap: 30px;
}

.User-Area {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.headline-text-popup {
  font-weight: 700;
  font-size: 40px;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-500 {
  font-weight: 500;
}

.close-btn {
  border: none;
  background: none;
  padding: 0;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}

@media (max-width: 530px) {
  .Task-Content {
    width: 400px;
  }

  .Task-Bottom-Content {
    margin-left: 230px;
    margin-top: 17px;
  }
}

@media (max-width: 420px) {
  .Task-Content {
    width: 350px;
  }

  .Task-Bottom-Content {
    margin-left: 183px;
  }
}
