#contact-link {
  /* styles for contact link */
  background-color: #091931;
}

.content-mobile {
  display: none;
}

.headline {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.headline-text-border {
  padding-right: 20px;
  border-right: 3px solid rgb(41, 171, 226);
}

.headline-text-border-padding {
  padding-left: 20px;
}

.headline-text {
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 60px;
}

.contact-main-container {
  grid-column: 3/11;
  grid-row: 2/11;
  display: flex;
}

.inner-content {
  display: flex;
  width: 31.5%;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-left: 3%;
  padding-right: 3%;
  /* white */
  background: #ffffff;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.headline-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.main-heading {
  font-size: 61px;
  font-weight: 700;
}

.sub-heading {
  font-size: 27px;
  font-weight: 700;
}

.contacts-text {
  background-color: white;
  text-align: justify;
}

.contacts-text p {
  line-height: 20px;
}

.back-overlay-btn {
  height: 35px;
  width: 35px;
  position: fixed;
  right: 22px;
  top: 170px;
  cursor: pointer;
}

.content-mobile {
  display: flex;
  justify-content: center;
  margin-top: 89px;
}

.small-heading-mobile {
  font-size: 18px;
}

.contact-right {
  display: flex;
  flex-direction: column;
  margin-left: 4.2vw;
  margin-top: 5.9vh;
  flex: 1;
}

.contact-letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-single-letter {
  text-align: start;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 10px;
  margin-bottom: 35px;
  padding-left: calc(25px + 1vw);
  font-size: 21px;
  line-height: 120%;
  font-weight: 400;
}

.initials-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  font-size: 12px;
  line-height: 14.4px;
}

.contact-letter-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 15px 25px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.contact-letter-container:hover {
  background-color: #2a3647;
  color: white;
}

.contact-name-mail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

#contactMail {
  text-decoration: none;
  color: #007cee;
}

#contactName {
  font-size: 21px;
  line-height: 120%;
}

/* ********* Scrollbar CSS ********* */
/* Firefox */
.inner-content {
  scrollbar-width: auto;
  scrollbar-color: #ffffff;
}

/* Chrome, Edge, and Safari */
.inner-content::-webkit-scrollbar {
  width: 10px;
}

.inner-content::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

@media (max-width: 1024px) {
  .content-desktop {
    display: none;
  }

  .content-mobile {
    display: flex;
  }

  .content-container {
    padding-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .content-mobile {
    display: none;
  }
}

@media (max-width: 650px) {
  .main-heading {
    font-size: 44px;
  }

  .content-container {
    width: 95%;
    word-break: break-word;
  }
}

@media (max-width: 450px) {
  .main-heading {
    font-size: 37px;
  }
}

@media (max-width: 450px) {
  .back-overlay-btn {
    position: fixed;
    right: 0px;
    top: 88px;
  }

  .sub-heading {
    font-size: 23px;
    text-overflow: ellipsis " [..]";
  }
}
