* {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.sidebar-container {
  grid-column: span 2;
  grid-row: span 10;
  background: rgb(42, 54, 71);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo{
  width: 120px;
}

.sidebar-element{
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sidebar-object{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar-object:hover{
  background-color: #091931;
}

.sidebar-element span{
    border-radius: 20px;
    padding: 20px;
}

.mini-logo{
  height: 20px;
  margin-left: 80px;
}

