* {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  height: 100vh;
}

.d-none {
  display: none;
}
